<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" />
      <button class="btn primary-btn carousel-btn">
        RICHIESTA VIDEO VISITA
      </button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" />
      <button class="btn primary-btn carousel-btn">
        RICHIESTA VIDEO VISITA
      </button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" />
      <button class="btn primary-btn carousel-btn">
        RICHIESTA VIDEO VISITA
      </button>
    </div>
  </ng-template>
</ngb-carousel>
