<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" class="image-slider" />
      <button mat-button class="btn primary-btn carousel-btn lionard-btn">
        RICHIESTA VIDEO VISITA
        <mat-icon style="vertical-align: middle">videocam</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" class="image-slider" />
      <button mat-button class="btn primary-btn carousel-btn lionard-btn">
        RICHIESTA VIDEO VISITA
        <mat-icon style="vertical-align: middle">videocam</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" class="image-slider" />
      <button mat-button class="btn primary-btn carousel-btn lionard-btn">
        RICHIESTA VIDEO VISITA
        <mat-icon style="vertical-align: middle">videocam</mat-icon>
      </button>
    </div>
  </ng-template>
</ngb-carousel>
