.info-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  background-image: url("https://cdn.lionard.com/img/opt/grifone-bkgd-trasp.png");
  background-size: cover;
  background-color: #051c2c;
  margin-left: 10px;
  padding: 15px;
  height: 500px;
}
.image-container {
  display: flex;
  flex: 5;
}

.main-container {
  display: flex;
  width: 1000;
  padding: 8px;
  height: 500px;
  border-width: 1px;
  border-color: #070707;
  flex-direction: row;
  margin-bottom: 30px;
}
