<div class="container-fluid main-container">
  <div class="image-container">
    <app-carousel [photos]="props.foto"></app-carousel>
  </div>
  <div class="info-container">
    <p class="primary-text">{{ props.nome }}</p>
    <div>
      <span class="primary-text">{{ props.zona }}</span>
      <span class="primary-text">{{ props.rif }}</span>
    </div>
    <p class="primary-text">{{ props.descrizione }}</p>
    <p class="primary-text">{{ props.mq }}</p>
    <p class="primary-text">
      {{ props.trattativariservata ? "Trattativa riservata" : "" }}
    </p>
    <button class="btn primary-btn">GUARDA IL VIDEO</button>
    <button class="btn secondary-btn">VEDI LA PROPRIETÀ</button>
    <button class="btn primary-btn">RICHIEDI INFO</button>
  </div>
</div>
