<div class="main-container">
  <div class="image-container">
    <app-carousel [photos]="props.foto"></app-carousel>
  </div>
  <div class="info-container">
    <div>
      <mat-icon style="vertical-align: middle; color: #fff">star</mat-icon>
    </div>
    <p class="primary-text title">{{ props.nome }}</p>
    <div style="flex-direction: row">
      <span class="primary-text paragraph" style="align-content: flex-start">{{
        props.zona
      }}</span>
      <span class="primary-text paragraph span-right" style="float: right"
        >RIF: {{ props.rif }}</span
      >
    </div>
    <p class="primary-text paragraph">{{ props.descrizione }}</p>
    <p class="primary-text paragraph">METRATURA: {{ props.mq }}MQ</p>
    <p class="primary-text paragraph">
      {{ props.trattativariservata ? "TRATTATIVA RISERVATA" : "" }}
    </p>
    <button class="btn primary-btn lionard-btn">GUARDA IL VIDEO</button>
    <button class="btn secondary-btn lionard-btn">VEDI LA PROPRIETÀ</button>
    <button class="btn primary-btn lionard-btn">RICHIEDI INFO</button>
  </div>
</div>
